body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: gray;
    height: 60px;
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

}

main{
    display: flex;
}

article{
    background-color: #cac8c8;
    height: 545px;
    width: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: #e7e6e6;
    height: 545px;
    width: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    background-color: #cac8c8;
    height: 545px;
    width: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: gray;
    height: 40px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
