header{
    display: flex;
    width: 100%; 
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}    

.idiom{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#one{
    display: flex;
    color: aliceblue;
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 15px;
}

#two{
    display: flex;
    color: aliceblue;
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 15px;
}






