body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: salmon;
    color: aliceblue;
    padding: 25px;  

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav{
    background-color: rgb(56, 168, 131);

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    color: aliceblue;
    
}

#idioms{
    padding: 0px 35px 0px 0px;

}

div{
    display: flex;
    flex-direction: row;
}

aside{
    background-color: rgb(226, 226, 226);

    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;

}

#fm{
    width: 300px;
    height: 300px;

    margin: 10px;
}



.ima{
    width: 300px;
    height: 150px;

    margin: 10px;
    
}

p{
    margin: 10px;
    padding: 10px;
}

footer{
    background-color: rgb(202, 200, 200);
    color: rgb(0, 0, 0);
    padding: 25px;  

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    padding: 10px;
    margin: 10px;
}

h5{
    padding: 10px;
    margin: 10px;
}

.iman{
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
   border: none;
   border-top: 2px solid black;
   margin: 20px;
   
}

.imgw{
    display: flex;
    margin-left: 60px;
    height: 200px;
    width: 668px;
}

    

