html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
    background-color: #d3d3d3;
}

div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

img {
    width: 250px;            
    height: 250px;
    border-radius: 10px; 
}
